/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Manrope:wght@200..800&display=swap');

/* Basic styling */
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --Very-Dark-Grayish-blue: hsl(217, 19%, 35%);
  --Desaturated-Dark-Blue: hsl(214, 17%, 51%);
  --Grayish-Blue: hsl(212, 23%, 69%);
  --Light-Grayish-Blue: hsl(210, 46%, 95%);
}

body {
  font-family: 'Manrope', sans-serif;
  font-size: 13px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
  background: var(--Light-Grayish-Blue);
}

img {
  height: 100%;
  border: none;
  max-width: 100%;
}

h2 {
  font-weight: 700;
}

.body-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 85%;
}

img.drawers {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: 100%;
}

.right {
  display: flex;
  flex-direction: column;
}

.text-container {
  background-color: white;
}

.text-container h2 {
  color: var(--Very-Dark-Grayish-blue);
  font-size: 1.05rem;
  margin: 30px auto;
  margin-bottom: 0;
  width: 85%;
}

.text-container p {
  color: var(--Grayish-Blue);
  font-size: 0.87rem;
  margin: 20px auto;
  width: 85%;
}

.names-container {
  background: white;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  width: 100%;
}

.names-details {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin: 0 auto;
  width: 85%;
  padding: 20px 0;
}

.names-container img {
  border-radius: 100%;
  width: 15%;
}

.names {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 7px;
  width: 100%;
}

.names h3 {
  color: var(--Very-Dark-Grayish-blue);
  margin: 0;
}

.names p {
  color: var(--Grayish-Blue);
  margin: 0;
}

.social-container {
  background: var(--Very-Dark-Grayish-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: 100%;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

.socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 62px;
  width: 100%;
}

#shareP {
  font-size: 0.8rem;
  color: var(--Desaturated-Dark-Blue);
  letter-spacing: 5px;
}

.social-icons {
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding: 20px 0;
}

.social-icons img {
  width: 100%;
}

.backgroundShare {
  width: 35px;
  height: 35px;
  background-color: var(--Desaturated-Dark-Blue);
  border-radius: 100%;
  position: absolute;
  right: 55px;
}

.backgroundShare2 {
  width: 35px;
  height: 35px;
  background-color: var(--Grayish-Blue);
  border-radius: 100%;
  position: absolute;
  right: 55px;
}

img.share {
  filter: invert(1) brightness(10) contrast(100);
  width: 5%;
}

img.share2 {
  filter: invert(1) brightness(10) contrast(100);
  margin-right: 12px;
  width: 10%;
}

.hidden {
  display: none;
}

/* Media queries */
@media (min-width: 390px) {
  img.share {
    margin-right: -10px;
  }

  img.share2 {
    margin-right: 10px;
  }
}

@media (min-width: 410px) {
  .socials {
    gap: 92px;
  }

  img.share {
    margin-right: -10px;
  }

  img.share2 {
    margin-right: 7px;
  }

  .text-container {
    border-top-right-radius: 15px;
  }
}

@media (min-width: 420px) {
  .socials {
    gap: 100px;
  }

  img.share {
    margin-right: -11px;
  }

  img.share2 {
    margin-right: 4px;
  }
}

@media (min-width: 700px) {
  body {
    margin: 100px auto;
  }

  .body-container {
    flex-direction: row;
    width: 85%;
  }

  img.drawers {
    border-top-right-radius: 0;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 0;
    width: 50%;
  }

  .right {
    display: flex;
    flex-direction: column;
    width: 70%;
  }

  .names-container,
  .social-container {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 0;
    margin-bottom: 0;
  }

  .names-details,
  .socials {
    justify-content: space-between;
    padding: 10px 0;
  }

  .social-icons {
    padding: 3px 0;
  }

  .backgroundShare,
  .backgroundShare2 {
    right: 90px;
  }

  img.share {
    margin-right: 40px;
  }

  img.share2 {
    margin-right: 14px;
  }
}

@media (min-width: 800px) {
  .names-details,
  .socials {
    justify-content: space-between;
    padding: 20px 0;
  }

  .social-icons {
    padding: 3px 0;
  }

  img.share {
    margin-right: 36px;
  }

  img.share2 {
    margin-right: 10px;
  }
}

@media (min-width: 1000px) {
  img.drawers {
    height: 284.77px;
    width: 25%;
  }

  .right {
    width: 35%;
  }

  .backgroundShare2 {
    right: 370px;
  }

  .backgroundShare {
    right: 370px;
  }

  img.share2 {
    margin-right: 15px;
  }

  img.share {
    margin-right: -20px;
  }

  .socials {
    justify-content: center;
  }
}
/* Attribution styling */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
